<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SuperStore</title>
        <link rel="stylesheet" th:href="@{/inventory-stylesheet.css}">
    </head>
    <body>
        <div class="topnav">
            <a  th:href="@{/}" >Form</a>
            <a class="active">Inventory</a>
        </div>
        <div class="alert success" th:if="${status} == 'success'">
            <strong> You successfully submited the item! </strong> 
        </div>
        <div class="alert failed" th:unless="${status} == 'success">
            <strong > You failed to submit the item. </strong> 
        </div>
  
        <div class="container">
            
            <table>
               <tr class="head">
                  <th>Category</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Discount</th>
                  <th>Order Date</th>
                  <th> </th>
               </tr>
               <tr th:each="item : ${items}">
                  <td th:text="${item.category}"></th>
                  <td th:text="${item.name}"></td>
                  <td th:text="${#numbers.formatCurrency(item.price)}"></td>
                  <td th:text="${#numbers.formatCurrency(item.discount)}"></td>
                  <td type="date" th:text="${#dates.format(item.date, 'yyyy-mm-dd')}"></td>
                  <td>
                     <a role="button" style="color:white; background-color: #263238" class="table-button" th:href="@{/(id = ${item.id})}">Update</a>
                  </td>
               </tr>
            </table>
         </div>
    </body>
</html>